#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
appveyor.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

#github settings
.github

#binaries
platform-tools
playing
android-sdk.zip